@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Extrabold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Semibold.ttf);
    font-weight: 600;
}